.header-component{
    padding-left: 20px;
    font-size: 20px;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: start;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;;
}